.chart rect {
	fill: steelblue;
}

.chart line {
	stroke: #333;
	stroke-width: 1px;
}

.keyword_cloud {
	width: 100%;
}
.keyword_cloud .keyword {
	display: inline;
	padding: 0 5px ;
}

.keyword_cloud .size1 { font-size: 12px; }
.keyword_cloud .size2 { font-size: 16px; }
.keyword_cloud .size3 { font-size: 20px; }
.keyword_cloud .size4 { font-size: 24px; }
.keyword_cloud .size5 { font-size: 28px; }
.keyword_cloud .size6 { font-size: 32px; }